extends layout

block content
    h1= title
    p Welcome to #{title}
    .content(ng-controller= "todoController as todos")
        .row
            .col-md-4
            .col-md-4
                .panel.panel-success
                    .panel-heading Add a Todo
                    .panel-body.text-center
                        input.form-control(ng-model= "todos.newTodo.text", placeholder="this is a new todo")
                        br
                        button.btn.btn-info(ng-click = "todos.addTodo()")
                            i.glyphicon.glyphicon-edit
                            | &nbsp;Add new Todo
        .row
            .col-md-3
            .col-md-6
                .panel.panel-default
                    .panel-heading
                        | Todos
                    .panel-body.todo-list
                        div.todo(ng-repeat="todo in todos.list")
                            span.todo-number {{$index + 1}})
                            input(type="checkbox",ng-checked = "todo.done" ng-model="todo.done", ng-change="todos.changeStatus(todo)")
                            i.glyphicon.glyphicon-trash.delete(ng-click = "todos.removeTodo(todo._id)")
                            span.todo-text(ng-class="{'todo-done': todo.done}") {{todo.text}}
