@import "compass/css3";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.todo {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	.delete {
		cursor: pointer;
		color: #EC5D5D;
		padding-left: 5px;
	}

	.todo-number {
		padding-right: 3px;
	}

	.todo-text {
		padding-left: 5px;
	}

	.todo-done {
		text-decoration: line-through;
	}
}

.todo-list {
	.todo:last-child {
		border-bottom: 0;
		padding-bottom: 0;
	}
}
