body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.todo {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.todo .delete {
  cursor: pointer;
  color: #EC5D5D;
}

.todo-list .todo:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
